<div class="" data-ng-controller="HeaderController">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gymnav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">Gym With Music</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="gymnav">
          <ul class="nav navbar-nav">
            
            <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="/{{item.link}}">{{item.title}}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li data-ng-hide="global.authenticated"><a href="/signup" target="_self">Signup</a>
            </li>
            <li class="divider-vertical"></li>
            <li data-ng-hide="global.authenticated"><a href="/signin" target="_self">Signin</a>
            </li>
            <li class="dropdown" data-ng-show="global.authenticated">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{global.user.name}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/signout" target="_self">Signout</a>
                    </li>
                </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
