.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    width:100%
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.videopanel
{
    max-height: 400px;
    overflow-x: scroll;
}

.videos
{
    list-style-type: none;
    padding: 0;
}

.upvote
{
    position: relative;
    border-radius: 100% 100%;
    border-width: 1px;
    padding: 10px;
    top: 5px;
    right: -5px;
}

.upvote:hover
{
    border-width: 1px;
}

.upvoted
{
    color: #ff7701;
    background-color: #fff;
    border-color: #ff7701;
}

.upvoted:hover
{
    color: #ff7701;
    background-color: #fff;
    margin-top: 0px;
    cursor: default;
    border-color: #ff7701;
}

.video p
{
    margin-top: -7px;
    width: 100%;
}

.video div.col-xs-4
{
    padding-right: 0;
}
