.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave, 
.my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter {
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.my-repeat-animation.ng-leave {
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  opacity:0;
}


.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.navbar-nav
{
    margin: 0;
}

.content {
    width:100%
}

hr.smallmargin
{
  margin-bottom: 5px;
  margin-top: 5px;
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.videopanel
{
    max-height: 400px;
    overflow-x: hidden;

}

.videos
{
    list-style-type: none;
    padding: 0;
}

.media-list
{
    margin-top: 25px;
}

.media
{
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.badge
{
  position: absolute;
  top: 45px;
  right: 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100%;
  padding: 7px 10px;
  font-family: monospace;
}

.videopanel p.ng-binding
{
  min-height: 60px;
}

.upvote, .add
{
    position: relative;
    border-radius: 100% 100%;
    border-width: 1px;
    padding: 10px;
    top: 5px;
    right: -4px;
}

.upvote:hover, .add:hover
{
    border-width: 1px;
}

.add
{
    top: 15px;
}

.upvoted.disabled, .added.disabled
{
    color: #ff7701;
    background-color: #fff;
    border-color: #ff7701;
}

.upvoted.disabled:hover, .added.disabled:hover
{
    color: #ff7701;
    background-color: #fff;
    margin-top: 0;
    cursor: default;
    border-color: #ff7701;
}

.video div.col-xs-4
{
    padding-right: 0;
}
