{% extends '../layouts/default.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <i class="glyphicon glyphicon-user"></i>
            <ul class="socialLogin">
                <li class="twitter"><a href="/auth/twitter" target="_self">Twitter <span class='symbol'>&#xe086;</span></a></li>
                <li class="facebook"><a href="/auth/facebook" target="_self">Facebook <span class='symbol'>&#xe027;</span></a></li>
                <li class="google"><a href="/auth/google" target="_self">Google <span class='symbol'>&#xe039;</span></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <a href="/" target="_self"><div class="panel panel-default col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="panel-body">
            No log-in, no party! <i class="glyphicon glyphicon-headphones"></i>
          </div>
        </div></a>
        <div class="col-md-6">
            {% if message && message.length  %}
            <div class="fade in alert alert-error">
                <button class="close" data-dismiss="alert">&times;</button>
                <div class="strong">
                    {{ message }}
                </div>
            </div>
            {% endif %}
            {% block auth %}{% endblock %}
        </div>
    </div>
{% endblock %}
