<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Coming up!</h3>
  </div>
  <div class="panel-body videopanel">
    <ul class="videos">
      <li class="video" ng-repeat="video in global.allVideos">
        <div class="row no-gutter">
          <div class="col-xs-4">
            <img class="img-responsive" ng-src="{{video.thumbnail}}">  
            <span ng-show="global.user.admin" style="position: relative; left: 0; bottom: -10px;right: auto; top: auto;font-size: 10px;padding: 5px; background-color: #ff4136; border-color: #ff1103; margin-top: 2px;" class="pull-left upvote glyphicon glyphicon-remove btn btn-primary deleteVideo" ng-click="delete(video._id)"></span>
          </div>
          <div class="col-xs-8">
            <span class="pull-right upvote glyphicon glyphicon-thumbs-up btn btn-primary" 
            ng-class="{'upvoted disabled':  video.voterIds.indexOf(global.user._id) !== -1 || 
                                            video.voterNames.indexOf(global.user.name) !== -1 ||
                                            video.voterEmails.indexOf(global.user.email) !== -1}" ng-click="vote(video._id)"></span>
            <span class="badge pull-right">{{video.vote_count}}</span>
            <p>{{video.title | cut:true:80:'...'}}</p>
            <small>toegevoegd door: <span ng-class="{'admin': video.added_by.admin}">{{video.added_by.name}}</span></small>
          </div>
        </div>
        <hr>
      </li>
    </ul>
  </div>
</div>  
