<section class="admin">
  <div class="row content">
      <div class="col-sm-12 col-md-8 col-lg-8" id="nowplaying">
          <section class="video big" ng-controller="ScreenController">
              <youtube-player id="best-vid" video-id="theBestVideo" style="min-height: 405px; display: block;"></youtube-player>
              <div class="videobar">
                <p class="lead pull-left">{{global.currentVideo.title | cut:true:70:'...' || "Er wordt momenteel geen video afgespeeld."}}<br /><small class="" ng-show="global.currentVideo.added_by.name">Toegevoegd door: {{global.currentVideo.added_by.name}}</small></p>
                <p class="lead pull-right">Aantal skip-votes: {{skipVotes[0] ? skipVotes[0].voters.length : 0}}<br /><small>Totaal 5 nodig om te skippen</small></p>
              </div>
          </section>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4" ng-controller="VideoController" ng-include src="'/views/includes/upnext.html'">
      </div>
      <div class="clearfix"></div>
      <hr class="smallmargin">
      <section class="col-xs-9">
          <h3><i class="glyphicon glyphicon-headphones"></i> Ga naar http://gymwithmusic.herokuapp.com om muziek toe te voegen</h3>
          <p class="lead instruction">Zorg dat je favoriete nummers beginnen met spelen door te stemmen!</p>
          <p>Ontwikkeld door <span class="text-primary">@Riasvdv, @ThomasBormans &amp; @Flrvt</span></p>
      </section>
      <section class="col-xs-3">
        <img src="/img/icons/logo_medium.png" class="pull-right img-responsive" alt="">
      </section>

</section>
