<section data-ng-controller="AdminController" class="admin">
  <div class="row content">
      <div class="col-sm-12 col-md-8 col-lg-8" id="nowplaying">
          <section class="video big">
              <img id="currentImage" class="img-responsive" src="http://placekitten.com/1000/600" />
              <div class="videobar">
                <p class="lead pull-left">Placeholder title - Placeholder Artist <br /><small class="">Toegevoegd door: Rias</small></p>
                <p class="lead pull-right">Aantal skip-votes: {{skipvotes || 0}} <br /><small>5 nodig om te skippen</small></p>
              </div>
          </section>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4" ng-controller="VideoController" ng-include src="'/views/includes/upnext.html'">
      </div>
      <div class="clearfix"></div>
      <hr class="smallmargin">
      <section class="col-xs-10">
          <h3>Ga naar www.gymwithmusic.be om muziek toe te voegen</h3>
          <p class="lead">Stem vervolgens je favoriete liedje naar de top zodat het begint te spelen</p>
          <p>Ontwikkeld door <span class="text-primary">@Riasvdv, @ThomasBormans &amp; @Flrvt</span></p>
      </section>
      <section class="col-xs-2">
        <img src="/img/icons/logo_medium.png" width="150" class="pull-right" alt="">
      </section>

</section>
